<h2>Voting Stats by Times Reposted</h2>

<table>
  <col width="130">
  <col width="130"> 
  <col width="130">
  <col width="130">   
  <thead>
    <tr>
      <th>Times Reposted</th>
      <th>Total Votes</th>
      <th>Upvotes</th>
      <th>Downvotes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @counts.each_with_index do |count, index|%>
      <% if count %>
      <tr>
        <td><%= index %></td>
        <td><%= @data_by_counts[index][0].to_s  %></td>
        <td><%= @data_by_counts[index][1].to_s %></td>
        <td><%= @data_by_counts[index][2].to_s %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h2>Raw Data by Image Id</h2>

<table>
  <col width="130">
  <col width="130"> 
  <col width="130">
  <col width="130">  
  <col width="130">    
  <thead>
    <tr>
      <th>Image Id</th>
      <th>Times Reposted</th>
      <th>Total Votes</th>      
      <th>Upvotes</th>
      <th>Downvotes</th>
    </tr>
  </thead>

  <tbody>
    <% @votes_by_group.each do |group| %>
      <tr>
        <td><%= group[0].to_s %></td>
        <td><%= group[1].to_s  %></td>
        <td><%= group[2].to_s %></td>
        <td><%= group[3].to_s %></td>
        <td><%= group[4].to_s %></td>        
      </tr>
    <% end %>
  </tbody>
</table>




