<h2>Voting Stats by Times Reposted</h2>

<table>
  <col width="130">
  <col width="130"> 
  <col width="130">
  <col width="130"> 
  <col width="130">
  <col width="130">       
  <thead>
    <tr>
      <th>Repost Number</th>
      <th>Total Votes</th>
      <th>Upvotes</th>
      <th>Downvotes</th>
      <th>Upvote Percentage</th>            
    </tr>
  </thead>

  <tbody>
    <% @repost_nums.each_with_index do |repost|%>
      <tr>
        <td><%= repost[0] %></td>
        <td><%= repost[1].to_s  %></td>
        <td><%= repost[2].to_s.to_s %></td>
        <td><%= repost[3].to_s.to_s %></td>
        <td><%= ((repost[2].to_f/repost[1].to_f)*100.0).round(2).to_s + "%" %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<h3>Repost Nums</h3>
<%= @repost_nums %>

<h3>H Posts</h3>
<%= @test_h %>

<h3>Arrays</h3>
<%= "Raws post: " + @copy_raw_posts.to_s %>
<%= "Realtime: " + @rt_posts_test.to_s %>

<h3>Reposts Hash</h3>

<%= @reposts_hash %>

<h3>realtime</h3>
<%= @realtime_reposts %>
<h3>Image IDs</h3>
<%= @realtime_image_ids %>