<h2>Voting Stats by Times Reposted</h2>

<table>
  <col width="130">
  <col width="130"> 
  <col width="130">
  <col width="130"> 
  <col width="130">
  <col width="130">       
  <thead>
    <tr>
      <th>Times Reposted</th>
      <th>Total Votes</th>
      <th>Upvotes</th>
      <th>Downvotes</th>
      <th>Avg. # Votes</th>      
      <th>Upvote Percentage</th>
      <th>Average Score</th>               
    </tr>
  </thead>

  <tbody>
    <% @counts.each_with_index do |count, index|%>
      <% if count %>
      <tr>
        <td><%= index %></td>
        <td><%= @data_by_counts[index][0].to_s  %></td>
        <td><%= @data_by_counts[index][1].to_s %></td>
        <td><%= @data_by_counts[index][2].to_s %></td>
        <td><%= (@data_by_counts[index][0].to_f/index).round(2).to_s %></td>
        <% average_votes = ((@data_by_counts[index][1].to_f/@data_by_counts[index][0].to_f)*100.0).round(2) %>
        <td><%= average_votes.to_s + "%" %></td>
        <td><%= ((@data_by_counts[index][1] - @data_by_counts[index][2].to_f) /
              index.to_f).round(2) %></td>        
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>






