<h2>Voting Stats by Times Reposted</h2>

<table>
  <col width="130">
  <col width="130"> 
  <col width="130">
  <col width="130"> 
  <col width="130">
  <col width="130">       
  <thead>
    <tr>
      <th>Repost Number</th>
      <th>Total Votes</th>
      <th>Upvotes</th>
      <th>Downvotes</th>
      <th>Upvote Percentage</th>            
    </tr>
  </thead>

  <tbody>
    <% @repost_nums.each_with_index do |repost|%>
      <tr>
        <td><%= repost[0] %></td>
        <td><%= repost[1].to_s  %></td>
        <td><%= repost[2].to_s.to_s %></td>
        <td><%= repost[3].to_s.to_s %></td>
        <td><%= ((repost[2].to_f/repost[1].to_f)*100.0).round(2).to_s + "%" %></td>

      </tr>
    <% end %>
  </tbody>
</table>
